.change-password-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    font-weight: 600;
  }
  
  .left-section {
    flex: 0.6;
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .right-section {
    flex: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
  }
  
  .password-input {
    position: relative;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .save-changes-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .save-changes-btn:hover {
    background-color: #0056b3;
  }
  